body {
    font-family: verdana, sans-serif;
}

#drop-down{
    width: 400px;
    margin: 50px auto;
}

#drop-down >select{
    width:100%;
    padding:10px;
    border: 1px solid #e6e6e6;
}

h2 {
    text-align: center;
}

#result {
    border: 1px solid grey;
    width:360px;
    height: 200px;
    padding:20px;
    margin:10px auto;
}

span {
    color:red;
    font-weight: bold;
}
