@import 'https://fonts.googleapis.com/css?family=Oswald|Francois+One|Josefin+Slab|Roboto+Slab|Suez+One|Tangerine';

body {
    font-family: 'Roboto Slab', serif;
padding-top:50px;
}

/*--FONT STYLING FOR THE WEBSITE--*/

/*--thick and tall fonts--*/
.francois {
    font-family: 'Francois One', serif;
}
/*--thin and rounder fonts--*/
.josefin {
    font-family: 'Josefin Slab', serif;
}

/*--times new roman style--*/
.suez_one {
    font-family: 'Suez Slab', serif;
}
/*--impact style--*/
.oswald {
    font-family: 'Oswald', serif;
}
/*--Decorative and curvey fonts--*/
.tangerine {
    font-family: 'Tangerine', serif;
}

h1 {
    font-family: 'Francois One', serif;
}
h3 {
    font-family: 'Oswald', serif;
}
/*--LINKS STYLES--*/
a {
    text-decoration: none;
}

/*--TABLES--*/
th {
    background-color: #003366;
    color: white;
}

th, td {
    padding: 10px 0;
    vertical-align: top;
}

/*--CONTAINERS--*/

.header_user {
    width: 36px;
    float: left;
}

.main_form {
    background-color: antiquewhite;
    padding: 10px
}

.thumb_3 {
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 20px;
}

.thumb_4 {
    text-align: center;
    font-size: 0.9em;
    margin-bottom: 20px;
min-height:120px;
}

.thumb_5 {
    text-align: center;
    font-size: 1.1em;
    margin-bottom: 10px;
}

.thumb_6 {
    text-align: center;
    font-size: 0.9em;
    margin-bottom: 10px;
    padding: 10px;
}

.house_img {
    width:18%;
    float: left;
    margin-right: 2px;
}

.five_img {
    width:18%;
    float:left;
    margin-right:4px;
    text-align: center;
}

.footer {
    background-color: #e5e5e5;
    padding: 30px 0 40px 0;
}

.footer .smi {
    width:158px;
    height: 36px;
    margin-top: 10px;
    position: absolute;
}

.footer a.sm_f {
    width:36px;
    height: 36px;
    margin: 0 4px 0 0;
    float: left;
    display: block;
    background: url(../img/social_icons.png) no-repeat scroll -36px -36px;
}

.footer a.sm_f:hover {
    background: url(../img/social_icons.png) no-repeat scroll -36px 0px;
}

.footer a.sm_t {
    width:36px;
    height: 36px;
    margin: 0 4px 0 0;
    float: left;
    display: block;
    background: url(../img/social_icons.png) no-repeat scroll -72px -36px;
}

.footer a.sm_t:hover {
    background: url(../img/social_icons.png) no-repeat scroll -72px 0px;
}


.footer a.sm_i {
    width:36px;
    height: 36px;
    margin: 0;
    float: left;
    display: block;
    background: url(../img/social_icons.png) no-repeat scroll -108px -36px;
}

.footer a.sm_i:hover {
    background: url(../img/social_icons.png) no-repeat scroll -108px 0px;
}

.footer a.sm_w {
    width:36px;
    height: 36px;
    margin: 0 4px 0 0;
    float: left;
    display: block;
    background: url(../img/social_icons.png) no-repeat scroll 0px -36px;
}

.footer a.sm_w:hover {
    background: url(../img/social_icons.png) no-repeat scroll 0px 0px;
}
/*__floating button code--*/
.kc_fab_main_btn{
  background-color:#F44336;
  width:60px;
  height:60px;
    right:20px;
    bottom:20px;
    position: fixed;
  border-radius:100%;
  background:#F44336;
  border:none;
  outline:none;
  color:#FFF;
  font-size:36px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition:.3s;  
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/*--LIGHTBOX DETAILS--*/
div.row > div > div.row {
				margin-bottom: 15px;n
			}

			div.top-header {
				margin-bottom:100px;
			}

			h3.page-header {
				margin-top: 50px;
			}

			figure {
				position: relative;
			}

			figure figcaption {
				font-size: 22px;
				color: #fff;
				text-decoration: none;
				bottom: 10px;
				right: 20px;
				position: absolute;
				background-color: #000;
			}
			code {
				white-space: pre-wrap;       /* css-3 */
				white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
				white-space: -pre-wrap;      /* Opera 4-6 */
				white-space: -o-pre-wrap;    /* Opera 7 */
				word-wrap: break-word;       /* Internet Explorer 5.5+ */
			}

/*--TEXT ANIMATION--*/
@keyframes blink {
to { color: red; }
}

.blink_me {
color: blue;
animation: blink 1s steps(2, start) infinite;
}

.menu_book {
color: #ff6600;
text-shadow: #89FA19 0 0 10px;
}