@import url('https://fonts.googleapis.com/css?family=Lora');

body {
    font-family: 'Lora', serif;
    font-size: 14px;
    line-height: 1.4em;
    color: #333;
    min-height: 400px;
}

.header {
    background-color: #333344;
    color: white;
    padding: 20px 0 30px 0;
}

.top_nav {
    background-color: #ddddcc;
}

.footer {
    background-color: #ff9900;
    color: white;
    padding: 20px 0;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.info_panel {
    background-color: #e74c3c;
    color: white;
    padding: 10px;
    text-align: center;
}

.login_info {
    background-color: #ddddcc;
    padding: 10px;
    margin-top: 20px;
}

.main_area {
    min-height: 400px;
}
/*----main menu css -----*/


/*enable-seats*/
.enable-seats{
    position: relative;
    display: block;
    height: 500px;
    border: 1px solid lightgray;
}

.enable-seats img{
    position: absolute;
    height: 100%;
    left: 0;
    -webkit-user-drag: none;
}

.seat{
    position: absolute;
    height: 25px;
    width: 25px;
    background-color: #ffffff;
    border: 2px solid #666666;
    padding:0;
    border-radius: 4px;
    cursor: pointer;
    z-index: 100;
    color: #000000;
    float: left;
    font-size: 10px;
    text-align: center;
}

.seat.enabled {
    opacity: 1;
    color: black;
    background-color: #ddffbb;
    border: 2px solid #ddffbb;
}

.seat.selected {
    color: black;
    background-color: #00ff7f;
    border: 2px solid #cccccc;
}

.seat.booked{
    color: white;
    background-color: #ff6600;
    border: 1px solid #ff0000;
}

/*---for user information ---*/
.seat2{
    height: 25px;
    width: 25px;
    background-color: #ffffff;
    border: 2px solid #666666;
    border-radius: 4px;
    color: #000000;
    float: left;
}

.seat2.enabled {
    opacity: 1;
    color: black;
    background-color: #ddffbb;
    border: 2px solid #ddffbb;
}

.seat2.selected {
    color: black;
    background-color: #00ff7f;
    border: 2px solid #cccccc;
}

.seat2.booked{
    color: white;
    background-color: #ff6600;
    border: 1px solid #ff0000;
}