@import url('https://fonts.googleapis.com/css?family=Arimo|Montserrat|Roboto+Slab');

body {
    background-color: white;
    font-family: 'Roboto Slab', serif;
}

.top_nav {
    background-color: #003366;
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,125,0.5);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}

.book_ticket {
    margin: 10px 0 0 10px;
}

.search_info p{
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
}

.search_info h3 {
    text-transform: uppercase;
    margin-top: 0;
    font-weight: bold;
}

a.search_btn {
    color:#333;
    margin:0 10px;
    font-weight: bold;
    font-size: 0.8em;
}

.footer {
    border-top: 2px solid #ccc;
    background-color: darkslategrey;
    color: white;
}

.footer_title {
    color: white;
     text-shadow: 2px 2px #000000;
}

.info_sm_bar {
    padding: 10px 5px;
    background-color: #2c3e50;
    color: white;
}

.info_bg_bar {
    height:120px;
}

h2.book_btn {
    text-align: center;
    background-color: #f7f7f7;
    color: white;
    font-weight: bold;
}

.padding-20 {
    padding: 10px;
    height:420px;
    margin-bottom:20px;
    
}

.top-40 {
    margin-top: -20px;
}

.container-main {
    min-height: 480px;
}

.book_btn {
    width:100%;
}

.movie_box {
    padding: 20px;
    background-color: #ecf0f1;
}

.book_header {
    background-color: #003366;
    color: white;
    padding: 20px;
}
.book_bg {
    margin-top:-20px;
    background-color:#333;
    overflow: hidden;
    height: 300px;
    padding: 160px 20px 0 20px;
}

.book_bg a {
    color: white;
    font-size: 2.4em;
    margin-bottom: 10px;
    position: relative;
}

.book_bg img {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 0.5;
}

.book_bg p {
    z-index: 3;
    color: white;
}

.tag_box {
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin: 0 2px;
    padding: 0 5px;
}

.new_bg {
    background-color: rgb(0,0,0,0.4);
    height: 200px;
    padding: 80px 20px 0 40px;
    width:100%;
    z-index: 1;
    position: relative;
}

.date_bar {
    background-color:bisque;
    padding: 10px;
}

.dt_btn {
    margin:0 5px;
    border-radius: 4px;
}

.dt_lg {
    font-size:1.8em;
    font-weight: bold;
    margin: 0;
}

.movie_info_bar {
    background-color: beige;
    margin-bottom: 10px;
    padding: 20px 0;
}

.top_city {
    position: fixed;
    top:0;
    right:100px;
    width:120px;
}

.book_page_info_bg {
    background-color: #003366;
    color: white;
}

.navbar-custom {
    background-color: #2c3e50;
}

.navbar-custom collapse ul li a {
    color: white;
}

/*enable-seats*/
.enable-seats{
    position: relative;
    display: block;
    height: 500px;
    border: 1px solid lightgray;
}

.enable-seats img{
    position: absolute;
    height: 100%;
    left: 0;
    -webkit-user-drag: none;
}

.seat{
    position: absolute;
    height: 25px;
    width: 25px;
    background-color: #ffffff;
    border: 2px solid #666666;
    padding:4px 0 0 0;
    border-radius: 4px;
    cursor: pointer;
    z-index: 100;
    color: #000000;
    float: left;
    font-size: 10px;
    text-align: center;
}

.seat.enabled {
    opacity: 1;
    color: black;
    background-color: #ddffbb;
    border: 2px solid #ddffbb;
}

.seat.selected {
    color: black;
    background-color: #00ff7f;
    border: 2px solid #cccccc;
}

.seat.booked{
    color: white;
    background-color: #ff6600;
    border: 1px solid #ff0000;
}


#city-selector-modal{
    z-index: 1050;
}
/* Popover */
.popover {
    border: 1px solid #ccccff;
    text-align: center;
}

/* Popover Header */
.popover-title {
    background-color: #cccccc;
    color: #FFFFFF;
    font-size: 16px;
    text-align:center;
}

/*---for user information ---*/
.seat2{
    height: 25px;
    width: 25px;
    background-color: #ffffff;
    border: 2px solid #666666;
    border-radius: 4px;
    color: #000000;
    float: left;
}

.seat2.enabled {
    opacity: 1;
    color: black;
    background-color: #ddffbb;
    border: 2px solid #ddffbb;
}

.seat2.selected {
    color: black;
    background-color: #00ff7f;
    border: 2px solid #cccccc;
}

.seat2.booked{
    color: white;
    background-color: #ff6600;
    border: 1px solid #ff0000;
}

/* Popover Body */
.popover-content {
    background-color: beige;
    color: #333;
    padding: 8px;
}
.popver span {
    color: green;
}

 /* Tooltip */
.test + .tooltip > .tooltip-inner {
    background-color: #73AD21;
    color: #FFFFFF;
    border: 1px solid green;
    padding: 8px;
    font-size: 12px;
}

/* Tooltip on top */
.test + .tooltip.top > .tooltip-arrow {
    border-top: 5px solid green;
}

/* Tooltip on bottom */
.test + .tooltip.bottom > .tooltip-arrow {
    border-bottom: 5px solid blue;
}

/* Tooltip on left */
.test + .tooltip.left > .tooltip-arrow {
    border-left: 5px solid red;
}

/* Tooltip on right */
.test + .tooltip.right > .tooltip-arrow {
    border-right: 5px solid black;
}

.modal-header, .close {
      background-color: #5cb85c;
      color:white !important;
      text-align: center;
      font-size: 20px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }

p.navbar-text {  
  font-size: 22px;
  margin-top: 8px;
  padding-bottom: 0;
  text-align: right;
  width: 70%;
}

/*--modal css here--*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    text-align: center;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 10px;
    border: 1px solid #888;
    width: 80%;
}

a.book_seat {
    margin: 10px;
    font-size: 18px;
    color: red;
}
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}