@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    line-height: 1.8em;
}

.main-box {
    min-height: 520px;
}

.db-box {
    padding:20px;
}

h1.dbl {
    background-color: #006633;
    color:#ffffff;
    padding: 20px 0;
    margin: 0;
}

h2.dbll {
    background-color: #ffff99;
    padding: 20px 0;
    margin-top: 0;
}
footer {
    padding: 20px 0px;
    background-color: #003366;
    color:#ffffff;
}