@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    background: url("....//img/page_bg_light.jpg") scroll no-repeat center center;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}

.level_1_box {
   font-size: 20px;
    text-align: center;
    padding: 20px;
    background-color: #003366;
    color: #fff;
    margin-top:20px;
}

.step {
  width:50%;
  border-radius:50%;
  text-align:center;
  font-size: 24px;
  padding:50%;
  line-height:0;
  position:relative;
  background: #ff0000;
  color: white;
  font-family: Helvetica, Arial Black, sans;
}

.top-20 {
    margin-top: 20px;
}

.blackbox {
    text-align: center;
    font-size: 0.9em;
    color: white;
    background-color: #003366;
    padding: 10px;
    margin-bottom: 20px;
}

footer {
    background-color: black;
    color: white;
    padding: 20px 10px;
}
.main-box {
    min-height: 480px;
}

.action-box {
    margin: 10px 0px;
    padding: 20px;
}

.footer-box {
    color:#ffffff;
    letter-spacing: 1px;
    margin-top: 20px;
    padding: 20px;
    background-color: #333;
}

.wide-box {
    padding: 20px;
    margin: 20px 0px;
}