@import url('https://fonts.googleapis.com/css?family=Acme|Russo+One');

body {
    background: url("../img/page_bg.jpg") scroll no-repeat center center;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Acme', sans-serif;
    line-height: 1.5em;
}

.info-box {
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 8px;
    text-align: center;
}

.info-text {
    color: #ffffff;
    font-family: 'Russo One', sans-serif;
    text-shadow: 1px 1px #333333;
}